{% extends 'Layouts/principal.html' %}
{% block content %}

<div class="card col-md-4 offset-md-4 mt-5">
    <div class="card-body my-2">
        <h1 class="text-center pb-5 pt-3">Iniciar Sesion</h1>
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
        {% endif %}
        <form method="POST" class="form">
            {% csrf_token %}
            
            <div class="form-floating my-3">
                <input type="text" class="form-control" id="username" name="username" placeholder="Usuario">
                <label for="username"><i class="bi bi-person-fill"></i> Nombre de Usuario</label>
            </div>
            <div class="form-floating my-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="**********">
                <label for="password"><i class="bi bi-lock-fill"></i> Contraseña</label>
            </div>
            <div class="form-group my-3">
                <button type="submit" class="btn btn-primary d-block w-100">Iniciar</button>
            </div>
        </form>
    </div>
</div>








{% endblock %}